
.nav{
	background-color:rgb(255, 254, 236);
	max-width: 100%;
	

}


img{
	max-width: 100%;
	max height: auto;
}

.container-xxlg{
	background-color: rgb(255, 254, 236);
	max-width: 100%;
	max-height: auto;
	paddin
	}

h2{
	text-align: center;
	font-family: 'Abril Fatface';
	font-weight: bold;
	}
	

